@import "theme_variables"; 
@import "bootstrap5/bootstrap";      
@import "wp_basic_styles";      
@import "picostrap";  
@import "woocommerce";

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1440px;

body{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}



//nav på toppen



#wrapper-navbar{
    
    .top-header-holder{
        @media(max-width:$lg){
            display: none;
        }
        height: 160px;
        background: #f1f1f1;
        padding-top: 50px;
        padding-bottom: 50px;
        .container{
            
            .logo-holder{
                
                .logo{
                    width: 275px;
                    height: auto;
                }
            }
            .upload-holder{
                .upload{
                    a{
                        color: black;
                        text-decoration: none;
                        &:hover {
                            color: grey;
                        }
                    }
                }
            }
            .search{
                border-bottom: 1px solid black;
            }
        }
    }
    .navbar{
        
        ul{
            flex:1;
            justify-content: center;
            padding: 1em;
            li{
                a{
                    font-weight: 400;
                    font-size: 21px;
                    
     
                    
                }
            }
        }
    }
}


//hero img
.home-hero{
    height: 630px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(./img/banner.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    @media(max-width:$lg){
        background-position: top -50px center;
        height: 500px;
    }
   
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
      font-size: 100px;
      @media(max-width:$lg){
        font-size: 72px;
      } 
      @media(max-width:$md){
        font-size: 48px;
      } 
      @media(max-width:$sm){
        font-size: 36px;
      } 
  }


  .home-recipes{
      .recipe{
          padding-bottom: 100%;
          background: grey;
          border-radius: 0%;
          .image()
      }
  }

